body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #333;
}

.container {
    max-width: 1250px;
    margin: auto;
    padding: 2em;
}

.section {
    margin-bottom: 2em;
}

.section-title {
    font-size: 20px;
    margin-bottom: 0.5em;
    color: #F62C07;
}

.lucid-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 1.6em;
    margin-bottom: 0.9em;
}

.lucid-container a {
    flex: 1;
    display: flex;
    justify-content: center;
}

.lucid-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    will-change: transform;
}

.canva-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.2225%;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
}

.canva-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}

a {
    color: #780202;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
