body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 0px; 
    color: #C7AE6A;
    background-image: url('/static/img/4880406196.png');
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.logo img {
    margin: 0;
    height: 100px;
    width: 100%; 
    position: fixed;
    top: 0;
}

.titulo-container {
    margin-top: 110px;
    text-align: center;
}

.titulo {
    margin: -4px;
}

.cartaz-filmes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 30px;
}

.filme-cartaz-item {
    text-align: center;
    margin: 10px;
    padding: 20px; 
}

.filme-cartaz-imagem {
    text-align: center;
    height: 250px;
    border-radius: 10px; 
    margin-bottom: 10px;
}

.card {
    background-color: #000000cf; 
    border-radius: 10px; 
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.548);
    padding: 20px; 
    text-align: center; 
    transition: box-shadow 0.3s ease; 
    width: 250px;
    height: 500px;
    margin: 10px;
}

.card img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

.card h2 {
    margin: 0; 
}

.card h3 {
    margin-top: 5px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #770202ef;
    border-radius: 10px;
    width: calc(100% - 100px); /* Total width minus 100px (50px on each side) */
    max-width: 600px; /* Optional max-width for better appearance on larger screens */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.form-group label {
    width: 100%;
    text-align: center; /* Centralizar o texto do label */
    margin-bottom: 10px; /* Ajustado para aumentar o espaçamento */
    color: #fff;
}

.form-group select, 
.form-group input[type="text"], 
.form-group input[type="number"] {
    text-align: center;
    width: calc(100% - 40px);
    max-width: 300px;
    padding: 10px;
    border: 5px solid #C7AE6A;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    appearance: none;
    background-color: transparent;
    padding-right: 20px;
}

.form-group input[type="number"] {
    max-width: 260px;
    height: 21px;
    font-size: 17px;
}

.form-group select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#C7AE6A" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
}

button[type="submit"] {
    padding: 15px 30px;
    background-color: #C7AE6A;
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #A1874E;
}

select option {
    background-color: #333;
}

input[type=number] {
    line-height: 30px;
}

input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px;
}

/* Estilos de foco para melhorar a acessibilidade */
.form-group input:focus, .form-group select:focus, button[type="submit"]:focus {
    outline: none;
    border-color: #A1874E;
    box-shadow: 0 0 5px #A1874E;
}

p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 15px;
}

.linha-colorida {
    border-color: #C7AE6A;
    border-width: 3px;
}

.ticket {
    background-color: white;
    border: 2px dashed #C7AE6A;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    color: #000;
}

.ticket h1, .ticket p {
    margin: 10px 0;
    color: #000; 
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #C7AE6A;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
}

/* style funciona em Chrome */
/* setas da box de nº */
input[type=number] {
    line-height: 30px;
}
  
input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
    margin-top: 20px;
}

::-webkit-scrollbar-track {
    background: #000000; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Cor da parte da barra de rolagem que se move */
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da parte da barra de rolagem quando o mouse está sobre ela */
}
