<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="cabecalho">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/cinemaniabanner.jpg') }}" alt="Logo do Cinema">
        </div>
    </header>
    <div class="titulo-container">
        <h1 class="titulo"><br> Filmes em Cartaz</h1>
    </div>
    <div class="cartaz-filmes">
        {% for filme in filmes %}
        <div class="filme-cartaz-item">
            <div class="card">
                {% set img_file_jpg = 'img/' + filme.titulo|replace(' ', '_')|lower + '.jpg' %}
                {% set img_file_webp = 'img/' + filme.titulo|replace(' ', '_')|lower + '.webp' %}
                {% if img_exists(img_file_jpg) %}
                <img src="{{ url_for('static', filename=img_file_jpg) }}" alt="{{ filme.titulo }} imagem" class="filme-cartaz-imagem">
                {% elif img_exists(img_file_webp) %}
                <img src="{{ url_for('static', filename=img_file_webp) }}" alt="{{ filme.titulo }} imagem" class="filme-cartaz-imagem">
                {% else %}
                <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="Imagem não disponível" class="filme-cartaz-imagem">
                {% endif %}
                <h2>{{ filme.titulo }}</h2>
                <p>{{ filme.descricao }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Formulario -->
   <h1 style="text-align: center;">Formulário de reserva</h1>
    <form action="/escolher_assento" method="POST">
        <div class="form-group">
            <label for="titulo_filme">Que filme deseja assistir?</label>
            <select name="titulo_filme" id="titulo_filme" required onchange="atualizarHorarios()">
                <option value="">--------</option>
                {% for filme in filmes %}
                <option value="{{ filme.titulo }}">{{ filme.titulo }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="horario">Escolha o horário:</label>
            <select name="horario" id="horario" required>
                <option value="">Selecione o filme</option>
            </select>
        </div>
    
        <div class="form-group">
            <label for="fila">Escolha a fila:</label>
            <select id="fila" name="fila" required>
                <option value="">---</option>
                {% for fila in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'] %}
                <option value="{{ fila }}">{{ fila }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-group">
            <label for="assento">Escolha o assento:</label>
            <input type="number" id="assento" name="assento" min="1" max="18" required>
        </div>
    
        <div class="form-group">
            <label for="tipo_pacote">Escolha o tipo de pacote:</label>
            <select name="tipo_pacote" id="tipo_pacote" >
                <option value="">Selecione um pacote...</option>
                <option value="">Apenas Bilhete - 4,50€</option>
                <option value="pequeno">Pequeno - 6,20€</option>
                <option value="grande">Grande - 8,40€</option>
                <option value="estudante">Estudante - 6,50€</option>
            </select>
        </div>
    
        <button type="submit">Reservar Assento</button>
    </form>

    <!-- Mostrar mensagem de erro (Flash) -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    
    <script>
        function atualizarHorarios() {
            const horariosPorFilme = {{ horarios_por_filme|tojson }};
            const tituloFilme = document.getElementById("titulo_filme").value;
            const horarioSelect = document.getElementById("horario");
            
            horarioSelect.innerHTML = '<option value="">--:--</option>';

            if (tituloFilme && horariosPorFilme[tituloFilme]) {
                horariosPorFilme[tituloFilme].forEach(horario => {
                    const option = document.createElement("option");
                    option.value = horario;
                    option.text = horario;
                    horarioSelect.appendChild(option);
                });
            }
        }
    </script>
</body>
</html>
